.sidebar{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
    width: 100%;
    max-width: 250px;
    height:auto ;
    background: rgb(37, 36, 36);
}
.sidebar-item{
 display: flex;


 padding: 5px 10px ;
 
 
 width: 100%;
cursor:pointer;
}

.user{ width:34px;
height:31px}

@media(max-width:800px){
    .sidebar{
        padding: 30px 0px;
        flex-direction: row;
        width: 100%;
        max-width:none;
        height: auto;
        justify-content: center;
    }
    .sidebar-item{
        margin:0;
    }
}
