.footer{
    display: flex;
    flex-direction: column;
   
    align-items:center;
   
    gap: 50px;
}
.footer-contact {
   
    
    
}
.footer-logo p{
    color: #383838;
    font-size: 46px;
    font-weight: 700px;


}




 .footer-social-icon {
    display: flex;
    
  
 gap: 20px;
 

}
.footer-icon-container {
    padding:10px;
  
    
align-content: center;
    padding-bottom:6px;
    background: #fbfbfb;
border:  1px  solid #ebebeb;
}


.footer-copyright {
 display: flex;
flex-direction: column;
align-items: center;
 gap: 30px;
 width:100%;
margin-bottom: 30px;
color: #1a1a1a;
font-size:20px ;

}
.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}

#contactInfo {
    border: 1px solid #ccc;
    width:1000px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    
  }
  
  .info-group {
    margin-bottom: 10px;
  }
  
  .info-label {
    font-weight: bold;
  }
  
  .info-value {
    margin-left: 10px;
  }